.flightshop-index-link-image {
    max-width: 310px;
}

.flightshop-exclude-link-style {
    color: #222;
}
.flightshop-index-link-section {
    text-align: center;
}
    .flightshop-index-link-section a:hover {
        text-decoration: none;
    }
    .flightshop-index-link-section:hover {
        background-color: #eee;
        cursor: pointer;
    }
    .flightshop-index-link-section:hover .flightshop-index-link-text {
        text-decoration: underline;
    }

#flightshop-products-index-container {
    padding-top: 0.25em;
}

#flightshop-home-description {
    padding-top: 1em;
    width: 50%;
    min-width: 600px;
}

.modal-title {
    width: 80%;
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    color: #efefef;
}

.submit-success-header {
    background-color: #28a745;
}
.submit-error-header {
    background-color: #bd2130;
}

.dialog-close-x {
    text-shadow: none;
    font-size: 1.75em;
    color: #efefef;
}

.modal-btn-fs {
    font-size: 1em;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5) !important;
}