@model TheFlightShop.Models.ProductsViewModel
@{
    ViewData["Title"] = "Click Bond - Products";
}

<div id="flightshop-products-index-container" class="flightshop-page-content">
    <partial name="~/Views/Shared/_Products.cshtml" />
</div>