@model TheFlightShop.Models.ProductsViewModel
@{
    ViewData["Title"] = "Click Bond - Products";
}

<div class="flightshop-page-content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                ClickBond
            </li>
        </ol>
    </nav>

    <div class="row">
        @foreach (var category in Model.Categories)
        {
            <div class="col-xs-3">
                <a class="flightshop-product-category-link" 
                    asp-controller="Products"
                    asp-action="Category"
                    asp-route-id="@category.Id">

                    <img class="flightshop-category-image" 
                        src="~/products/category-images/nutplates.png"
                        alt="@category.Name" />
                    <h5>@category.Name</h5>
                </a>
            </div>
        }
    </div>
</div>