@model IEnumerable<TheFlightShop.Models.ProductCategoryCount>
@{
    ViewData["Title"] = "Click Bond - Products";
}

<div class="flightshop-page-content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            @if (Model.Count() > 1) {
                <li class="breadcrumb-item active" aria-current="page">
                    ClickBond
                </li>
            }
            else {
                <li class="breadcrumb-item">
                    <a asp-controller="Products" asp-action="Index">ClickBond</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    @(Model.FirstOrDefault()?.CategoryName ?? "None")
                </li> 
            }
        </ol>
    </nav>

    @foreach (var productCount in Model) {
        <div class="flightshop-product-category-table-section">
            <h4 class="flightshop-product-category-table-title">@productCount.CategoryName</h4>
            <table class="flightshop-product-category-table">
                <tr>
                    <th class="flightshop-product-table-padded-cell">Category</th>
                    <th class="flightshop-product-table-padded-cell flightshop-product-category-count-header">Products</th>
                </tr>
                @foreach (var subCategory in productCount.Counts) {
                    <tr>
                        <td class="flightshop-product-table-padded-cell">
                            @Html.ActionLink(
                                subCategory.SubCategoryName,
                                "SubCategory",
                                "Products",
                                new { id = subCategory.SubCategoryId }
                            )
                        </td>
                        <td class="flightshop-product-table-subcategory-count">
                            @subCategory.Count
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</div>