@model TheFlightShop.Models.ProductsViewModel
@{
    ViewData["Title"] = "Click Bond - Products";
}

<div id="flightshop-products-index-container" class="flightshop-page-content">
    <partial name="~/Views/Shared/_Products.cshtml" />
    <div style="text-align: center;">
        <img src="~/images/iso-logo.png" alt="ANAB accredited ISO/IEC 17021" id="iso-logo-products-index" />
        <div class="iso-certificate-link-container">
            <a target="_blank" href="@Url.Action("IsoCertificate", "Products")">View Certificate</a>
        </div>
    </div>
</div>