@using System.Text.RegularExpressions;

<div>
    <h2>Products</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                ClickBond
            </li>
        </ol>
    </nav>
<table>
    <tr class="">
        @{ var itemNumber = 1; var columnNumber = 1; }
        @foreach (var category in Model.Categories)
        {
            var itemClass = itemNumber > 4 ? "flightshop-product-category-margin" : "";
            itemNumber++;

            if (columnNumber > 4) {
                columnNumber = 1;
                @Html.Raw("</tr><tr>")
            }
            columnNumber++;

        <td class="flightshop-product-cell">
            <a class="flightshop-product-category-link"
               asp-controller="Products"
               asp-action="Category"
               asp-route-id="@category.Id">

                <img class="flightshop-category-image"
                     src="~/products/category-images/@category.ImageFilename"
                     alt="@category.Name" />
                <h5 class="flightshop-category-title">@category.Name</h5>
            </a>
        </td>
}
    </tr>
    </table>
</div>
