#flightshop-click-bond-parts-image {
    margin: 2em auto;
    display: block;
}

#flightshop-click-bond-disclaimer {
    text-align: center;
}

.auth-distrib-col {
    max-width: 1024px;
    margin-top: 1em;
}