<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">
  <!-- ADD ATTRIBUTES BELOW FOR INTERNAL LOGGING, E.G. TO DEBUG NLOG NOT WORKING: -->
  <!--internalLogLevel="Warn"
        internalLogFile="c:\temp\nlog-internal.log">-->


  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="lineSeparator" value="${newline}------------${newline}" />

  <!-- the targets to write to -->
  <targets>
    <default-wrapper xsi:type="RetryingWrapper" retryCount="3" retryDelayMilliseconds="3000" />
    <target xsi:type="AsyncWrapper" name="s3Info">
      <target xsi:type="AmazonS3"
            Directory="dev-logs/info"
            layout="${longdate}|MESSAGE:${message}|URL:${aspnet-request-url}|ACTION:${aspnet-mvc-action}" />
    </target>
    <target xsi:type="AsyncWrapper" name="s3Warn">
      <target xsi:type="AmazonS3"
            Directory="dev-logs/warning"
            layout="MESSAGE: ${message}${lineSeparator}URL: ${aspnet-request-url}${lineSeparator}ACTION: ${aspnet-mvc-action}" />
    </target>
    <target xsi:type="AsyncWrapper" name="s3Error">
      <target xsi:type="AmazonS3"
            Directory="dev-logs/error"
            layout="MESSAGE: ${message}${lineSeparator}EXCEPTION: ${exception:format=tostring}${lineSeparator}URL: ${aspnet-request-url}${lineSeparator}ACTION: ${aspnet-mvc-action}" />
    </target>
    <target xsi:type="AsyncWrapper" name="emailError"  >
      <!--batchSize="250" timeToSleepBetweenBatches="300000"-->
      <target xsi:type="Email" layout="MESSAGE: ${message}" />
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" levels="Warn" writeTo="s3Warn" />
    <logger name="ErrorLog" levels="Error" writeTo="s3Error,emailError" />
    <logger name="Microsoft.*" levels="Info" final="true" />
    <logger name="*" levels="Info" writeTo="s3Info" />
  </rules>
</nlog>