<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">
      <!-- ADD ATTRIBUTES BELOW FOR INTERNAL LOGGING, E.G. TO DEBUG NLOG NOT WORKING: -->
    <!--internalLogLevel="Warn"
        internalLogFile="c:\temp\nlog-internal.log">-->
      

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <variable name="s3BucketName" value="theflightshop-products" />
  <variable name="s3AccessKeyId" value="AKIAI627WTB7FWOSJHHA" />
  <variable name="s3SecretAccessKey" value="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" />
  <variable name="s3Region" value="us-west-1" />
  
  <!-- the targets to write to -->
  <targets async="true">
    <default-wrapper xsi:type="RetryingWrapper" retryCount="3" retryDelayMilliseconds="3000" />
    <target xsi:type="AmazonS3" 
            name="s3Warn" 
            Directory="logs/warning"
            Bucket="${s3BucketName}" 
            AccessKeyId="${s3AccessKeyId}" 
            SecretAccessKey="${s3SecretAccessKey}"
            Region="${s3Region}"
            layout="MESSAGE:${message}|URL:${aspnet-request-url}|ACTION:${aspnet-mvc-action}" />
    <target xsi:type="AmazonS3" 
            name="s3Error" 
            Directory="logs/error"
            Bucket="${s3BucketName}" 
            AccessKeyId="${s3AccessKeyId}" 
            SecretAccessKey="${s3SecretAccessKey}"
            Region="${s3Region}"
            layout="MESSAGE:${message}|EXCEPTION:${exception:format=tostring}|URL:${aspnet-request-url}|ACTION:${aspnet-mvc-action}" />
    <target xsi:type="Console"
            name="consoleLog"
            layout="MESSAGE:${message}|EXCEPTION:${exception:format=tostring}|URL:${aspnet-request-url}|ACTION:${aspnet-mvc-action}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" levels="Warn" writeTo="s3Warn,consoleLog" />
    <logger name="*" levels="Error" writeTo="s3Error,consoleLog" />
  </rules>
</nlog>