@{
    ViewData["Title"] = "Cabin & Baggage Door Struts";
}

<div class="flightshop-page-content">
    <h2>Cabin &amp; Baggage Door Struts</h2>
    <p>
        The cabin and baggage door struts look nice and are reliable when installed properly. First time installation on the cabin door should take approximately 3 hours. Approval for model 600, 601 non-pressurized Aerostar is done with a STC, 601P and 602P must be done with a 337 field approval.
    </p>
    <p>
        Baggage door struts are STC'd for all model Aerostars and will take approximately 1 hour to install.
    </p>
    <div class="flightshop-info-page-centered-image">
        <img src="~/images/maintenance/cabin-baggage-door-struts-1.jpg"
             alt="struts on cabin door" />
    </div>
    <div class="flightshop-info-page-centered-image">
        <img src="~/images/maintenance/cabin-baggage-door-struts-1.jpg"
             alt="struts on cabin door" />
    </div>
</div>
