@{
    ViewData["Title"] = "Cabin Door Cables";
}

<div class="flightshop-page-content">
    <h2>Cabin Door Cables</h2>
    <p>
        Here are the door cables you’ve been asking for. The Flight Shop introduces new and improved cabin door cables with the same unique design of our original having an adjustable clevis on the end so one size fits most now with the silicon style casing.
    </p>
    <p>
        601 thru 700P models are available in translucent (most common), Light Gray, Dark Gray, or Black
    </p>
    <p>
        Prices for either model or color is $115.00 ea.
    </p>
    <div class="flightshop-info-page-centered-image">
        <img src="~/images/maintenance/cabin-door-cables-1.jpg"
             alt="cabin door cables" />
    </div>
    <div class="flightshop-info-page-centered-image">
        <img src="~/images/maintenance/cabin-door-cables-2.jpg"
             alt="cabin door cables" />
    </div>
</div>
