@{
    ViewData["Title"] = "Click Bond Installation";
}

<div class="flightshop-page-content">
    <h2>How to Install</h2>
    <div class="flightshop-centered-image-with-title">
        <h4>Installation Sequence for Bonded Nutplates</h4>
        <img class="flightshop-click-bond-installation-image" 
            src="~/images/click-bond/installation-bonded-nutplates.gif" 
            alt="bonded nutplates installation" />
    </div>
    <div id="flightshop-install-studs-standoffs-image-section" class="flightshop-centered-image-with-title">
        <h4>Installation Sequence for Studs, Standoffs, and Mounts</h4>
        <img class="flightshop-click-bond-installation-image" 
            src="~/images/click-bond/installation-studs-standoffs-mounts.gif" 
            alt="studs-standoffs-mounts installation" />
    </div>
</div>