@{
    ViewData["Title"] = "Click Bond - Strength Data";
}

<div class="flightshop-page-content">
    <h2>Strength Data</h2>
    <div id="strength-data-subtitle">
        <span>Click Bond Applications</span>
        <span>CB200 Adhesive Strength</span>
        <span>January 1995</span>
    </div>
    <h4>Typical Click Bond Adhesive Strength Data</h4>
    <p>
        The following adhesive strength data represent the values obtained when using CB200 adhesive to bond Click Bond fasteners to various substrates requested by customers. Please call The Flight Shop if you have a question regarding an adhesive bonded fastener in which you are interested.
    </p>

    <div class="strength-data-section">
        <h4>Nutplate Push Out Testing</h4>

        <table class="strength-data-table">
            <tr>
                <td class="strength-data-table-item-label">Substrate</td>
                <td class="strength-data-table-value">.060" THICK ALUMINUM</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Fastener</td>
                <td class="strength-data-table-value">CB2010CR3CRF SIZE 3 NUTPLATE, CRES BASE, DOME</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Average Failure Load</td>
                <td class="strength-data-table-value">240 lbs (100 lbs MIL-N-25027 REQUIREMENT)</td>
            </tr>
        </table>
        <table class="strength-data-table">
            <tr>
                <td class="strength-data-table-item-label">Substrate</td>
                <td class="strength-data-table-value">6061-T6 ALUMINUM, .060" THICK</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Fastener</td>
                <td class="strength-data-table-value">CB2011CR3CR SIZE 3 NUTPLATE, CRES BASE</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Average Failure Load</td>
                <td class="strength-data-table-value">255 lbs (100 lbs MIL-N-25027 REQUIREMENT)</td>
            </tr>
        </table>
        <table class="strength-data-table">
            <tr>
                <td class="strength-data-table-item-label">Substrate</td>
                <td class="strength-data-table-value">GRAPHITE/EPOXY COMPOSITE, .140" THICK</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Fastener</td>
                <td class="strength-data-table-value">CB3010CR4CR SIZE 4 NUTPLATE, CRES BASE, DOME</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Average Failure Load</td>
                <td class="strength-data-table-value">705 lbs (125 lbs MIL-N-25027 REQUIREMENT)</td>
            </tr>
        </table>
        <table class="strength-data-table">
            <tr>
                <td class="strength-data-table-item-label">Substrate</td>
                <td class="strength-data-table-value">6061-T6 ALUMINUM, .060" THICK</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Fastener</td>
                <td class="strength-data-table-value">CB3011CR4CR SIZE 4 NUTPLATE, CRES BASE</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Average Failure Load</td>
                <td class="strength-data-table-value">414 lbs (125 lbs MIL-N-25027 REQUIREMENT)</td>
            </tr>
        </table>
        <table class="strength-data-table">
            <tr>
                <td class="strength-data-table-item-label">Substrate</td>
                <td class="strength-data-table-value">.250" THICK ALUMINUM</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Fastener</td>
                <td class="strength-data-table-value">CB7009CR3-1 SIZE 3 NUTPLATE, CRES BASE</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Average Failure Load</td>
                <td class="strength-data-table-value">204 lbs (100 lbs MIL-N-25027 REQUIREMENT)</td>
            </tr>
        </table>

        <hr />
    </div>

    <div class="strength-data-section">
        <h4>Nutplate Torque Out Testing</h4>

        <table class="strength-data-table">
            <tr>
                <td class="strength-data-table-item-label">Substrate</td>
                <td class="strength-data-table-value">.060" THICK ALUMINUM</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Fastener</td>
                <td class="strength-data-table-value">CB2010CR3CRF SIZE 3 NUTPLATE, CRES BASE, DOME</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Average Failure Load</td>
                <td class="strength-data-table-value">88 in-lbs (60 in-lbs MIL-N-25027 REQUIREMENT)</td>
            </tr>
        </table>
        <table class="strength-data-table">
            <tr>
                <td class="strength-data-table-item-label">Substrate</td>
                <td class="strength-data-table-value">6061-T6 ALUMINUM, .060" THICK</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Fastener</td>
                <td class="strength-data-table-value">CB2011CR3CR SIZE 3 NUTPLATE, CRES BASE</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Average Failure Load</td>
                <td class="strength-data-table-value">78 in-lbs (60 in-lbs MIL-N-25027 REQUIREMENT)</td>
            </tr>
        </table>
        <table class="strength-data-table">
            <tr>
                <td class="strength-data-table-item-label">Substrate</td>
                <td class="strength-data-table-value">GRAPHITE/EPOXY COMPOSITE, .140" THICK</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Fastener</td>
                <td class="strength-data-table-value">CB3010CR4CR SIZE 4 NUTPLATE, CRES BASE, DOME</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Average Failure Load</td>
                <td class="strength-data-table-value">193 in-lbs (100 in-lbs MIL-N-25027 REQUIREMENT)</td>
            </tr>
        </table>
        <table class="strength-data-table">
            <tr>
                <td class="strength-data-table-item-label">Substrate</td>
                <td class="strength-data-table-value">GRAPHITE/EPOXY COMPOSITE, .140" THICK</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Fastener</td>
                <td class="strength-data-table-value">CB3010CR4CR SIZE 4 NUTPLATE, CRES BASE, DOME</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Average Failure Load</td>
                <td class="strength-data-table-value">193 in-lbs (100 in-lbs MIL-N-25027 REQUIREMENT)</td>
            </tr>
        </table>
        <table class="strength-data-table">
            <tr>
                <td class="strength-data-table-item-label">Substrate</td>
                <td class="strength-data-table-value">6061-T6 ALUMINUM, .060" THICK</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Fastener</td>
                <td class="strength-data-table-value">CB3011CR4CR SIZE 4 NUTPLATE, CRES BASE</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Average Failure Load</td>
                <td class="strength-data-table-value">128 in-lbs (100 in-lbs MIL-N-25027 REQUIREMENT)</td>
            </tr>
        </table>
        <table class="strength-data-table">
            <tr>
                <td class="strength-data-table-item-label">Substrate</td>
                <td class="strength-data-table-value">.250" THICK ALUMINUM</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Fastener</td>
                <td class="strength-data-table-value">CB7009CR3-1 SIZE 3 NUTPLATE, CRES BASE</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Average Failure Load</td>
                <td class="strength-data-table-value">92 in-lbs (60 in-lbs MIL-N-25027 REQUIREMENT)</td>
            </tr>
        </table>

        <hr />
    </div>

    <div class="strength-data-section">
        <h4>Stud Shear Testing</h4>

        <table class="strength-data-table">
            <tr>
                <td class="strength-data-table-item-label">Substrate</td>
                <td class="strength-data-table-value">.090" THICK ALUMINUM</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Fastener</td>
                <td class="strength-data-table-value">CS125-1420-16CR - 1.25" DIAMETER BASE CRES STUD</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Average Failure Load</td>
                <td class="strength-data-table-value">2500 lbs</td>
            </tr>
        </table>
        <table class="strength-data-table">
            <tr>
                <td class="strength-data-table-item-label">Substrate</td>
                <td class="strength-data-table-value">.078" THICK KEVLAR</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Fastener</td>
                <td class="strength-data-table-value">CS125-1420-16GCR - GLASS/EPOXY BASE STUD</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Average Failure Load</td>
                <td class="strength-data-table-value">1210 lbs</td>
            </tr>
        </table>
        <table class="strength-data-table">
            <tr>
                <td class="strength-data-table-item-label">Substrate</td>
                <td class="strength-data-table-value">.440" NOMEX CORE, .025" FIBERGLASS FACE</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Fastener</td>
                <td class="strength-data-table-value">CS125-1032-12AXCR - 1.25" DIAMETER BASE STUD</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Average Failure Load</td>
                <td class="strength-data-table-value">1040 lbs</td>
            </tr>
        </table>
        <table class="strength-data-table">
            <tr>
                <td class="strength-data-table-item-label">Substrate</td>
                <td class="strength-data-table-value">PVC</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Fastener</td>
                <td class="strength-data-table-value">CS125-1420-16CR - 1.25" DIAMETER BASE CRES STUD</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Average Failure Load</td>
                <td class="strength-data-table-value">3100 lbs</td>
            </tr>
        </table>

        <hr />
    </div>

    <div class="strength-data-section">
        <h4>Stud Tension Testing</h4>

        <table class="strength-data-table">
            <tr>
                <td class="strength-data-table-item-label">Substrate</td>
                <td class="strength-data-table-value">.090" THICK ALUMINUM</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Fastener</td>
                <td class="strength-data-table-value">CS125-1420-16CR - 1.25" DIAMETER BASE CRES STUD</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Average Failure Load</td>
                <td class="strength-data-table-value">1265 lbs</td>
            </tr>
        </table>
        <table class="strength-data-table">
            <tr>
                <td class="strength-data-table-item-label">Substrate</td>
                <td class="strength-data-table-value">.078" THICK KEVLAR</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Fastener</td>
                <td class="strength-data-table-value">CS125-1420-16GCR - GLASS/EPOXY BASE STUD</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Average Failure Load</td>
                <td class="strength-data-table-value">420 lbs</td>
            </tr>
        </table>
        <table class="strength-data-table">
            <tr>
                <td class="strength-data-table-item-label">Substrate</td>
                <td class="strength-data-table-value">.440" NOMEX CORE, .025" FIBERGLASS FACE</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Fastener</td>
                <td class="strength-data-table-value">CS125-1032-12AXCR - 1.25" DIAMETER BASE STUD</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Average Failure Load</td>
                <td class="strength-data-table-value">330 lbs</td>
            </tr>
        </table>
        <table class="strength-data-table">
            <tr>
                <td class="strength-data-table-item-label">Substrate</td>
                <td class="strength-data-table-value">PVC</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Fastener</td>
                <td class="strength-data-table-value">CS125-1420-16CR - 1.25" DIAMETER BASE CRES STUD</td>
            </tr>
            <tr>
                <td class="strength-data-table-item-label">Average Failure Load</td>
                <td class="strength-data-table-value">950 lbs</td>
            </tr>
        </table>

        <hr />
    </div>

    <div>
        <h4>Additional Information</h4>
        <p>
            Adhesive joint strength is fundamental to the attachment strength of an adhesive bonded fastener. The adhesive bond strength is a function of a number of variables: the strength of the fastener, the surface area of the fastener, the fastener material and finish, the adhesive selected, the thoroughness of the adhesive mixing, the time elapsed between adhesive mixing and application to the bond surfaces, the temperature during adhesive cure, the application of constant pressure (fixturing) during adhesive cure, the surface preparation of the substrate, the substrate material and finish, and the thickness of the substrate. The key to consistent adhesive bonding is controlling the process. (Click Bond Process Specification CBPS206 outlines the recommended materials and process for adhesive bonded fasteners.)
        </p>
        <p>
            Other design factors include the environment (temperature, humidity, etc.) the joint will be exposed to, the type of loading (tension, shear, torque, vibration, etc.), the maximum load, the desired safety factor, the weight of the fastener, and the labor cost for installation.
        </p>
    </div>
</div>