@{
    ViewData["Title"] = "Click Bond - Authorized Distributor";
}

<div class="flightshop-page-content">
    <h2>Click Bond Authorized Distributor</h2>
    <p>
        Welcome to our online service which will provide you with detailed information about "CLICK BOND's Mechanical/Adhesive Fastening Systems".
    </p>
    <p>
        Advantages of the Click Bond Products include; eliminating the need of additional holes with our nut plates, because you are bonding rather than riveting. With the cable tie mounts, standoffs, studs and posts no holes are necessary for installation.
    </p>
    <p>
        Under Click Bond Products you will find a condensed variety of the more than 3,000 Click Bond products, including nut plates, dome nut plates, cable tie mounts, grommets, bushings, studs, standoffs, Click patches, etc., available in various sizes, materials and levels of specification. Some metric also available. We require no minimum orders and accept extended purchase orders.
    </p>
    <img id="flightshop-click-bond-parts-image" src="~/images/click-bond/click-bond-parts.jpg" alt="click bond parts" />
    <p id="flightshop-click-bond-disclaimer">CLICK BOND® is a registered trademark of Click Bond, Inc. The Flight Shop, Inc. a factory-authorized distributor since 1997.</p>
</div>