@{
    ViewData["Title"] = "Company Profile";
}

<div id="flightshop-company-profile-content" class="flightshop-page-content">
    <div style="text-align: center;">
        <img id="flightshop-company-profile-image" src="~/images/maintenance/company-profile-header-image.jpg" alt="flight shop hangar" />

    </div>
 <h2>Company Profile</h2>
    <p>
        You will be welcomed at The Flight Shop, Inc.,  based at the Brigham City Airport in Brigham City, Utah by a professional office staff, trained and licensed aircraft mechanics who have been serving the needs of the Aviation industry from single, twin and turbo prop aircraft for the past 40 years most of this experience has been with the Aerostar.
    </p>
    <p>
        The Flight Shop is experienced enough to provide the Service you need, while still small enough to provide the Service you deserve.
    </p>
    <div id="flightshop-address-info">
        <span>1780 North 2000 West</span>
        <span>Hangar #21-Brigham City Airport</span>
        <span>Brigham City, UT. 84302</span>
    </div>
</div>