@{
    ViewData["Title"] = "Contact - The Flight Shop";
}
<div class="flightshop-page-content">
    <h2>Contact Us</h2>
    <div class="row flightshop-phone-line">
        <span class="flightshop-contact-label">Phone:</span>
        435-723-3469
    </div>
    <div class="row flightshop-phone-line">
        <span class="flightshop-contact-label">Fax:</span>
        435-723-1736
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h4>Mailing Address</h4>
            <span class="flightshop-contact-line">P.O. Box 602</span>
            <span class="flightshop-contact-line">Brigham City, UT 84302</span>
        </div>
        <div class="col-xs-6">
            <h4>Physical Address</h4>
            <span class="flightshop-contact-line">P.O. Box 602</span>
            <span class="flightshop-contact-line">Brigham City, UT 84302</span>
        </div>
    </div>
</div>
