@{
    ViewData["Title"] = "Contact - The Flight Shop";
}
<div class="flightshop-page-content">
    <h2>Contact Us</h2>
    <div class="row flightshop-phone-line">
        <span>Phone:</span>
        435-723-3469
    </div>
    <div id="flightshop-bottom-phone-line" class="row flightshop-phone-line">
        <span>Fax:</span>
        435-723-1736
    </div>
    <hr />
    <div class="row flightshop-contact-line-row">
        <span class="flightshop-contact-line">
            <strong>Sales:</strong>&nbsp;<a href="mailto:sales@theflightshop.com">sales@theflightshop.com</a>
        </span>
        <span class="flightshop-contact-line">
            <strong>V.P:</strong>&nbsp;Liz Hansen,&nbsp;<a href="mailto:liz@theflightshop.com">liz@theflightshop.com</a>
        </span>
        <span class="flightshop-contact-line">
            <strong>Accounting:</strong>&nbsp;Jodie McNeely,&nbsp;<a href="mailto:jodie@theflightshop.com">jodie@theflightshop.com</a>
        </span>
        <span class="flightshop-contact-line">
            <strong>President:</strong>&nbsp;Dollie Bridges
        </span>
    </div>
    <hr />
    <div class="row flightshop-contact-line-row">
        <h4>Mailing Address</h4>
        <span class="flightshop-contact-line">P.O. Box 602</span>
        <span class="flightshop-contact-line">Brigham City, UT 84302</span>

    </div>
    <div class="row flightshop-contact-line-row">
        <h4>Physical Address</h4>
        <span class="flightshop-contact-line">1780 N. 2000 W.</span>
        <span class="flightshop-contact-line">Hangar #21</span>
        <span class="flightshop-contact-line">Brigham City, UT 84302</span>
    </div>
    <div class="row flightshop-contact-line-row">
        <h4>Scheduling/Questions to Director of Maintenance</h4>
        <span class="flightshop-contact-line">
            <a href="mailto:bill@theflightshop.com">bill@theflightshop.com</a>
        </span>
        <span class="flightshop-contact-line">
            <a href="mailto:craigh@theflightshop.com">craigh@theflightshop.com</a>
        </span>
    </div>
</div>
