@{
    ViewData["Title"] = "Facility";
}

<div class="flightshop-page-content">
    <h2>Facility</h2>
    <div class="row flightshop-facility-information-row">
        <h4>Location</h4>
        <div class="flightshop-facility-description">
            <span>Brigham City Airport Hangar #21</span>
            <span>Brigham City, Utah</span>
            <span>Identifier-BMC</span>
            <span>50 miles North of Salt Lake City, Utah</span>
        </div>
        <img id="facility-image-1" src="~/images/maintenance/facility-airport-aerial-1.jpg" />
        <img id="facility-image-2" src="~/images/maintenance/facility-airport-aerial-2.jpg" />
    </div>
    <div class="row flightshop-facility-information-row">
        <h4>Building</h4>
        <div class="flightshop-facility-description">
            <span>24,000 sq. foot hangar with offices</span>
            <span>Very clean, climate controlled and environmentally safe</span>
        </div>
    </div>
    <div class="row flightshop-facility-information-row">
        <h4>Personnel</h4>
        <div class="flightshop-facility-description">
            <span>Family owned and operated</span>
            <span>40 years experience</span>
            <span>IA and A&P Certified Technicians</span>
        </div>
    </div>
    <div class="row flightshop-facility-information-row">
        <h4>Service</h4>
        <div class="flightshop-facility-description">
            <span>Thorough, fast and courteous</span>
        </div>
    </div>
</div>