@{
    ViewData["Title"] = "Instrument Panels";
}

<div class="flightshop-page-content">
    <h2>Instrument Panels</h2>
    <div class="flightshop-centered-image-with-title">
        <h4>Example of Installed Instrument Panel Overlay</h4>
        <img src="~/images/maintenance/instrument-panel-installed.jpg" alt="installed instrument panel">
    </div>
    <div class="flightshop-centered-image-with-title">
        <h4>Uninstalled Instrument Panel Overlays</h4>
        <img src="~/images/maintenance/instrument-panel-uninstalled.jpg" alt="uninstalled instrument panel">
    </div>
</div>
