@{
    ViewData["Title"] = "Modifications";
}

<div class="flightshop-page-content">
    <h2>Modifications<small class="flightshop-page-header-subtext">(Performance to Cosmetic)</small></h2>
    <p class="flightshop-modifications-section">
        <strong>Flight Shop</strong>&nbsp;<em>STC'd and PMA parts</em>
    </p>
    <p class="flightshop-modifications-section">
        <a asp-controller="Home" asp-action="CabinBaggageDoorStruts">Cabin and Baggage Door Struts</a>, Master Warning System, Wing Tip Lens, Engine and Heater Ducts, Seal Kits, etc.
    </p>
    <p class="flightshop-modifications-section">
        <a asp-controller="Home" asp-action="CabinDoorCables">New and Improved Cabin Door Cables</a>
    </p>
    <p class="flightshop-modifications-section">
        ALL <strong>Machen</strong>&nbsp;and&nbsp;<a href="https://www.aerostaraircraft.com" target="_blank">Aerostar Aircraft</a>&nbsp;and kits.
    </p>
    <p class="flightshop-modifications-section">
        Superstar Upgrades, Intercoolers, Inconel Exhaust System, Brake Upgrades, Auxiliary Fuel Tank, and many, many more.
    </p>
    <p class="flightshop-modifications-section">
        <strong>Precise Flight</strong>&nbsp;- Pulse Light Kit - Be sure you're being seen.
    </p>
    <p class="flightshop-modifications-section">
        <span class="flightshop-modifications-section-header">
            <strong>Plastech Corporation</strong>&nbsp;-&nbsp;
            <a asp-controller="Home" asp-action="WindowShades">Window Shades</a>
        </span>
        <span>If you're tired of those old faded out curtains, how about some new, clean pull down shades.</span>
    </p>
    <p class="flightshop-modifications-section">
        <span class="flightshop-modifications-section-header">
            <strong>Insight Instruments</strong>&nbsp;-&nbsp;Graphic Engine Motors
        </span>
        <span>These instruments will help you better monitor every cylinder per engine.</span>
    </p>
    <p class="flightshop-modifications-section">
        <span class="flightshop-modifications-section-header">
            <strong>Spoilers Inc.</strong>&nbsp;-&nbsp;Power Pac Spoilers
        </span>
        <span>Spoilers will help in times when you have to make a quick descent without needing to shock cool the engines.</span>
    </p>
    <p class="flightshop-modifications-section">
        <span class="flightshop-modifications-section-header">
            <strong>De-Ice Boot Kit</strong>
        </span>
        <span>If you plan on traveling through icy weather you may want to consider having your plane equipped with de-ice boots. Other known icing equipment also available from Aerostar Aircraft. (extended lead time may apply.)</span>
    </p>
</div>
