@{
    ViewData["Title"] = "Ordering Information";
}

<div class="flightshop-page-content">
    <h2>The Flight Shop, Inc. Ordering Information</h2>
    <div class="flightshop-ordering-info-section">
        <h4>Ordering Information</h4>
        <p>
            You my place an order online at <strong>www.theflightshop.com</strong>, email
            <strong><a href="mailto:sales@theflightshop.com">sales@theflightshop.com</a></strong>,
            call <strong>435-723-3469</strong> or fax <strong>435-723-1736</strong>.
            <strong><em>All fasteners including adhesives are sold individually expect when ordered in a kit.</em></strong>&nbsp;
            No minimum order required. Prices and immediate availability are subject to change without prior notice. Extended lead times may apply on some special order items.
        </p>
    </div>
    <div class="flightshop-ordering-info-section">
        <h4>Payment Terms</h4>
        <p>
            The Flight Shop offers various payment terms including COD, credit card (most major credit cards), wire transfer or Net 30 days from date of invoice for established companies who have arranged with The Flight Shop for open account status. Companies on Net 30 days who fall delinquent past 60 days will automatically revert to COD or Credit Card status.
        </p>
    </div>
    <div class="flightshop-ordering-info-section">
        <h4>Certificate of Conformance</h4>
        <p>
            The Flight Shop, Inc. provides you with company Certificate of Conformance that appears on every invoice as well as the manufacturers Certificate of Conformance at no charge. Test reports are available on some items at an additional cost of $25-$150 per line item. Please inquire at the time of ordering whether test reports are available on the item you are requesting.
        </p>
    </div>
    <div class="flightshop-ordering-info-section">
        <h4>Back-Orders</h4>
        <p>
            Although our inventory is quite extensive and we try to make every effort to ship your order "complete" it may sometimes be necessary to backorder one or more items. If a partial order is shipped you are charged only for those items shipped. If a backorder is necessary we do appreciate your patience.
        </p>
    </div>
    <div class="flightshop-ordering-info-section">
        <h4>Returned Goods Policy</h4>
        <p>
            ‘In Stock’ products may not be returned without prior authorization. Returns are subject to a 20% restocking charge, must have been purchased from The Flight Shop and returned within 30 days from date of purchase. Some special ordered items may be rejected for return due to there uniqueness. Your account will be credited (minus any restocking charge that may apply) after we receive the returned items and we do not refund any freight.
        </p>
    </div>
    <div class="flightshop-ordering-info-section">
        <h4>Changes or Cancellation</h4>
        <p>
            Special ordered items meaning parts not normally stocked will have a 100% cancellation fee if they are in production or if the material has been purchased. All other parts will have a 20% restocking charge.
        </p>
    </div>
    <div class="flightshop-ordering-info-section">
        <h4>Shipping</h4>
        <p>
            Items in stock at the time of a completed order will ship within 48 hours or sooner unless otherwise asked to hold for items that may be on backorder. Shipping charges will be accessed and charged to the purchaser either on the invoice or charged to the purchasers courier account at the time of shipment. Purchaser shall examine all products upon receipt and notify The Flight Shop immediately of any discrepancies.
        </p>
    </div>
    <div class="flightshop-ordering-info-section">
        <h4>Quotations</h4>
        <p>
            As our inventory changes minute by minute Products quoted as ‘in stock’ are at the time of quote only. The Flight Shop has no obligation to hold Products for future sale to Purchaser if Purchaser’s order is incomplete, on hold, or if not confirmed within 24hrs.
        </p>
    </div>
</div>