@{
    ViewData["Title"] = "Ordering Information";
}

<div class="flightshop-page-content">
    <h2>The Flight Shop, Inc. Ordering Information</h2>
    @*<div class="flightshop-ordering-info-section">
            <h4>Ordering Information</h4>
            <p>
                You my place an order online at <strong>www.theflightshop.com</strong>, email
                <strong><a href="mailto:sales@theflightshop.com">sales@theflightshop.com</a></strong>,
                call <strong>435-723-3469</strong> or fax <strong>435-723-1736</strong>.
                <strong><em>All fasteners including adhesives are sold individually expect when ordered in a kit.</em></strong>&nbsp;
                No minimum order required. Prices and immediate availability are subject to change without prior notice. Extended lead times may apply on some special order items.
            </p>
        </div>*@

    <div class="flightshop-ordering-info-section">
        <strong>APPLICABILITY:&nbsp;</strong>The following conditions of sale apply to any purchase order covering any products or items offered by the <strong>Procuring Party</strong> (Buyer) for sale by the <strong>The Flight Shop, Inc.</strong> (Seller). All orders are subject to the following terms and conditions. No salesperson or other party is authorized to bind Seller by any other agreement, warranty, statement, promise, or other understanding not herein expressed, and no modifications shall be binding unless the same are in writing and signed by an executive of Seller or its duly authorized representative. Seller's failure to object to provisions contained in any of Buyer's forms or other documents shall not be a waiver of these terms and conditions which shall constitute the entire agreement between the parties.
</div>

    <div class="flightshop-ordering-info-section">
        <strong>TERMS OF PAYMENT:</strong> Provided Seller’s credit and collections department has granted credit terms to Buyer and unless expressly noted via invoice, Buyer shall pay all invoiced amounts in United States Dollars (USD) within the buyer/sellers agreed terms  b following the date of Seller ’ s invoice. All payments shall be accompanied by remittance detail containing, at a minimum, Seller ’ s invoice number and amount paid per invoice. Payments must be made pursuant to the payment instructions contained in Seller ’ s invoice. Credit terms granted by Seller to Buyer are subject to reevaluation by Seller at any time. If Seller determines in its sole discretion that Buyer fails to qualify for such payment terms at any time, Seller may without notice to Buyer, modify or withdraw credit terms including, but not limited to, requiring advance payment, letters of credit, guarantees, or other security. Payments made by credit card may be subject to a convenience fee.
</div>

    <div class="flightshop-ordering-info-section">
        <strong>
            DELINQUENT PAYMENT:
        </strong> Buyer agrees to pay all collection costs and expenses, including attorney's fees, incurred by Seller in collecting or attempting to collect on such account.

            1.       Interest
            Buyer shall also pay interest on any such unpaid balance(s) at a rate equal to the lesser of 18% per annum or the maximum rate permitted by applicable law, from the due date until paid.
</div>
    <div class="flightshop-ordering-info-section">
        <strong>ATTORNEYS FEES :</strong> Should suit be brought to enforce or interpret any part of this agreement, Seller shall be entitled to recover as an element of the cost of suit and not as damages, its reasonable attorney fees (including without limitation, costs, expenses, and fees on an appeal). Seller shall be the party entitled to recover its cost of the suit regardless of whether suit proceeds to final judgment.
</div>

    <div class="flightshop-ordering-info-section">
        <strong>
            ORDERS and ORDER ACCEPTANCE:
        </strong> All orders are subject to final approval and acceptance by Seller. Seller reserves all rights to accept orders in whole or in part.

            a)Non-Cancellable/Non-Returnable: Notwithstanding any provision of these Terms and Conditions to the contrary, orders for manufacturing, special, custom, value-added and other non-standard and Products otherwise identified by Seller as "NCNR" or "Non-Cancelable and Non-Returnable" ("Non-Standard Products") shall be non-cancelable and non-returnable.
</div>
    <div class="flightshop-ordering-info-section">
        <strong>RETURNS :</strong> No returns will be accepted without a Return Material Authorization number provided by Seller. No returns will be accepted that are not traceable to original lot number. If multiple Seller / Mfg. lot numbers are mixed and traceability has been lost, parts will not be accepted as a valid return. All returns must be in original Seller or Manufacturer packaging unless parts are non-conforming; even in the event of non-conforming material traceability must be maintained. Credit will only be issued after inspection and approval by Seller. Any claims must be made within 15 days of material receipt.
</div>
    <div class="flightshop-ordering-info-section">
        <strong>TAXES:</strong> Unless otherwise agreed to in writing by Seller, prices quoted are exclusive of any applicable taxes or duties on the purchase or sale of parts, including but not limited to, Federal, State, Municipal, sales, use and value added taxes, or import duties. Any such taxes and duties that may become due and owing will be paid by Buyer.
</div>
    <div class="flightshop-ordering-info-section">
        <strong> LIMITATIONS OF USE:</strong> Seller and the manufacturer of the products and/or items are not liable for any claim or damage arising from use. Buyer agrees to fully indemnify, defend and hold harmless Seller and the manufacturer of the products and/or items from and against any and all claims, damages, loss, cost, expense or liability arising out of or in connection with the use or performance of Products.
</div>
    <div class="flightshop-ordering-info-section">
        <strong>DELIVERY AND SHIPPING:</strong> Seller reserves the right to make delivery in installments which shall be separately invoiced and paid for when due, without regard to subsequent deliveries. Delay in delivery of any installment shall not relieve Buyer of its obligation to accept remaining deliveries. Unless otherwise specified, products are sold F.O.B. shipping point and Buyer assumes freight cost and liability for loss or damage once they have left the Seller's premises. Seller is to follow instructions of Buyer as to method of shipment if feasible; and, if there are no instructions from Buyer, Seller may ship by any reasonable method. Seller is not required to notify Buyer of shipment. Orders are not subject to cancellation or deferment without Seller's consent and then only upon terms protecting Seller against loss. All shipments are subject to an overrun or shortage of (ten percent) 10% of the quantity specified. Delivery dates indicated on quotations and on acknowledgments of orders are approximate and not guaranteed. Seller will do everything possible to maintain the shipping dates given herein, but Seller shall not be liable for delays in delivery or in performance or failure to manufacture or deliver due to causes beyond its reasonable control such as: acts of God, acts of the Buyer, acts of civil or military authority, priorities, fires, strikes or other disturbances, floods, epidemics, war delays in transportation or car shortage or inability to obtain necessary labor, materials, components or manufacturing facilities. In the event of such delay, the date of delivery or of performance shall be extended for a period equal to the time lost by reason of delay.
</div>
    <div class="flightshop-ordering-info-section">
        <strong>RECEIVING INSPECTION:</strong> Buyer agrees to conduct a receiving inspection of the products upon receipt to ensure product conformance to any and all purchase order requirements. Any dispute must be brought to Seller within 15 days of receipt.
</div>
    <div class="flightshop-ordering-info-section">
        <strong> LIABILITIES:</strong> Seller assumes no liability or responsibility whatsoever for any goods or part thereof manufactured and/or supplied to Buyer's design including, but not limited to, patent, trademark or copyright infringement. Seller's liability for any claim of any kind shall not exceed the purchase price of the goods, or portion thereof, which gives rise to the claim whether such claim shall be for breach of contract, breach of warranty, negligence, strict liability in tort, or any other legal theory, and whether such claim arises out of, or results from this contract or from the design, manufacture, sale, delivery, resale, installation, technical direction of installation, inspection repair, operation or use of any goods furnished under this contract. Seller shall not be liable, in any event, for special or consequential damages, including, but not limited to, loss of profits or revenue, loss of use of the goods or any associated goods, cost of capital, cost of substitute goods, facilities or services, down time costs, or claim of customers of Buyer for such damages. Buyer agrees to indemnify, hold harmless and defend Seller from liability, loss or damages from claims, demands, and costs of judgments arising out of use of the products sold which result from Buyer's negligence or fault.
</div>
    <div class="flightshop-ordering-info-section">
        <strong>
            TERMINATION OR CANCELLATION:
        </strong> If Seller believes in good faith that Buyer's ability to make payments may be impaired or if Buyer shall fail to pay any invoice when due, Seller may suspend delivery of any order or any remaining balance thereof until such payment is made or cancel any order or any remaining balance thereof, and Buyer shall remain liable to pay for any Products already shipped and all NCNR Products ordered by Buyer.

            a) Seller reserves the right at any time to revoke any credit extended to Buyer if Buyer fails to pay for any shipments when due or if, in Seller's opinion, there is a material adverse change in Buyer's financial condition. Seller may, at its option, cancel any accepted order if Buyer fails to meet any invoice when due.
</div>
    <div class="flightshop-ordering-info-section">
        <strong> CHANGE OF CONTROL:</strong> In the event of a Change in Control, the surviving, continuing, successor, or purchasing entity or parent thereof, as the case may be (the Acquirer), shall fulfill all obligations set forth in the original purchase contract between Buyer and Seller. All terms set forth herein shall remain in full force and effect to the same degree as initially agreed upon by Buyer. These obligations include but are not limited to payment of all debts and monies owed to Seller by Buyer as well as NCNR contracts that predate the acquisition of Buyer by the new Entity.
</div>
    <div class="flightshop-ordering-info-section">
        <strong>Warranties: EXCEPT TO THE EXTENT SELLER OTHERWISE SPECIFICALLY AGREES IN WRITING, THE SALE OF ALL PRODUCTS BY THE COMPANY SHALL BE WITHOUT ANY WARRANTIES WHATSOEVER, WHETHER EXPRESSED, IMPLIED, STATUTORY OR OTHER. INCLUDING BUT NOT LIMITED TO ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.</strong>
</div>
    <div class="flightshop-ordering-info-section">
        <strong> NON-WAIVER BY SELLER:</strong> Waiver by Seller of a breach of any of these terms and conditions shall not be construed as a waiver of any other breach.
</div>
</div>