@{
    ViewData["Title"] = "Parts";
}

<div class="flightshop-page-content">
    <h2>Parts</h2>
    <p>
        As a known supporter of the Aerostar for more than 40 years, we have created a list of SOME of the Aerostar parts we carry in an effort to continue that support. Click on the link below to see or print out the list. This is stock as of Jan. 2015 and is subject to change or correction at anytime. Items that are on the PMA list will have an AS or FS in front of the original Piper part number. For example a left wing tip lens Piper part number will be 200038-9 our PMA part number will be FS200038-9.
    </p>
    <div id="flightshop-parts-links-section">
        <p>
            <a href="#">NEW  OR  NEW SURPLUS</a>
        </p>
        <p>
            <a href="#">NEW PARTS FAA-PMA OR STC'D</a>
        </p>
        <p>
            <a href="#">NEW, USED OR REPAIRED OF THE SAME ITEM</a>
        </p>
        <p>
            <a href="#">REPAIRED OR OVERHAULED</a>
        </p>
    </div>
</div>
