@{
    ViewData["Title"] = "Services";
}

<div class="flightshop-page-content">
    <h2>Services</h2>
    <div class="row flightshop-services-row">
        <h4>Member:</h4>
        <div class="col-sm-12 flightshop-services-column">
            <img src="~/images/maintenance/services/aerostar-owners-assc.jpg" alt="aerostar owners association" />
        </div>
        <div class="col-sm-12 flightshop-services-column flightshop-services-last-column">
            <img src="~/images/maintenance/services/aviators-marketplace.jpg" alt="aviators marketplace" />
        </div>
    </div>
    <div class="row flightshop-services-row">
        <h4>Certified Installation Center or Dealer:</h4>
        <div class="col-sm-4 flightshop-services-column">
            <img src="~/images/maintenance/services/ice-shield.jpg" alt="ice shield" />
        </div>
        <div class="col-sm-4 flightshop-services-column">
            <img src="~/images/maintenance/services/power-pac-spoilers.jpg" alt="power pac spoilers" />
        </div>
        <div class="col-sm-4 flightshop-services-column flightshop-services-last-column">
            <img src="~/images/maintenance/services/gamijectors.jpg" alt="gamijectors" />
        </div>
    </div>
    <div class="row flightshop-services-row">
        <h4>Experienced Installation Center:</h4>
        <div class="col-sm-6 flightshop-services-column">
            <img src="~/images/maintenance/services/aerostar-aircraft-corp.jpg" alt="aerostar aircraft corporation" />
        </div>
        <div class="col-sm-6 flightshop-services-column">
            <img src="~/images/maintenance/services/rocky-mtn-propellors.jpg" alt="rocky mountain propellors" />
        </div>
        <div class="col-sm-6 flightshop-services-column">
            <img src="~/images/maintenance/services/jp-instruments.jpg" alt="jp instruments" />
        </div>
        <div class="col-sm-6 flightshop-services-column">
            <img src="~/images/maintenance/services/insight.jpg" alt="insight" />
        </div>
        <div class="col-sm-6 flightshop-services-column">
            <img src="~/images/maintenance/services/great-lakes-aero-products.gif" alt="great lakes aero products" />
        </div>
        <div class="col-sm-6 flightshop-services-column flightshop-services-last-column">
            <img src="~/images/maintenance/services/plastech-corp.jpg" alt="platech corp" />
        </div>
    </div>
</div>
