
@{
    ViewData["Title"] = "SubmitCustomerInfoOnError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top: 1em;">Info submitted</h2>
<p>Thanks for providing your info, and we'll be in touch with you as soon possible.</p>
@Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "btn btn-primary" })

