@{
    ViewData["Title"] = "Terms - The Flight Shop";
}

<div class="flightshop-page-content">
    <h2>Terms and Conditions</h2>

    <div class="flightshop-terms-section">
        <h5>Changes or Cancellation</h5>
        <p>Special ordered items meaning parts not normally stocked will have a 100% cancellation fee if they are in production or if the material has been purchased.  All other parts will have a 20% restocking charge.</p>
    </div>
    <div class="flightshop-terms-section">
        <h5>Shipping</h5>
        <p>Items in stock at the time of a completed order will ship within 48 hours or sooner unless otherwise asked to hold for items that may be on backorder.  Shipping charges will be accessed and charged to the purchaser either on the invoice or charged to the purchasers courier account at the time of shipment.  Purchaser shall examine all products upon receipt and notify The Flight Shop immediately of any discrepancies.</p>
    </div>
    <div class="flightshop-terms-section">
        <h5>Payment Terms</h5>
        <p>The Flight Shop offers various payment terms including COD, credit card (most major credit cards), wire transfer or Net 30 days from date of invoice for established companies who have arranged with The Flight Shop for open account status.  Companies on Net 30 days who fall delinquent past 60 days will automatically revert to COD or Credit Card status.</p>
    </div>
    <div class="flightshop-terms-section">
        <h5>Quotations</h5>
        <p>As our inventory changes minute by minute Products quoted as ‘in stock’ are at the time of quote only.  The Flight Shop has no obligation to hold Products for future sale to Purchaser if Purchaser’s order is incomplete, on hold, or if not confirmed within 24hrs.</p>
    </div>
    <div class="flightshop-terms-section">
        <h5>Return of Goods</h5>
        <p>‘In Stock’ products may not be returned without prior authorization.  Returns are subject to a 20% restocking charge, must have been purchased from The Flight Shop and returned within 30 days from date of purchase.  Some special ordered items may be rejected for return due to there uniqueness.  Your account will be credited (minus any restocking charge that may apply) after we receive the returned items and we do not refund any freight.</p>
    </div>
    <div class="flightshop-terms-section">
        <h5>Limitation of Liability</h5>
        <p class="flightshop-terms-highlighted-text">THESE MATERIALS ARE PROVIDED "AS IS" WITHOUT ANY EXPRESS OR IMPLIED WARRANTY OF ANY KIND INCLUDING WARRANTIES OF MERCHANTABILITY, OR FITNESS FOR ANY PARTICULAR PURPOSE. IN NO EVENT SHALL CLICK BOND OR THE FLIGHT SHOP BE LIABLE FOR ANY DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF PROFITS, BUSINESS INTERRUPTION, LOSS OF INFORMATION) ARISING OUT OF THE USE OF OR INABILITY TO USE THE MATERIALS, EVEN IF CLICK BOND OR THE FLIGHT SHOP HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  BECAUSE SOME JURISDICTIONS PROHIBIT THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU.</p>
    </div>
    <div class="flightshop-terms-section">
        <h5>Warranty</h5>
        <p>Click Bond and The flight Shop, Inc. do not warrant the accuracy or completeness of the information, text, graphics, links or other items contained within this website. Click Bond may make changes to the materials, or to the products described therein, at any time without notice. Click Bond and The Flight Shop make no commitment to update the Materials.</p>
    </div>
    <div class="flightshop-terms-section">
        <h5>Copyright and Trademark Information</h5>
        <p>All trademarks, product names, logos, brands, graphics and data identifying Click Bond products and services are proprietary trademarks, service marks and/or registered trademarks of Click Bond, Inc. and may not be used without prior written consent. All other brand and product names are the trademarks or registered trademarks of their respective holder.</p>
        <p>Copyright © 1988 - 2008. All rights reserved. Click Bond, Inc., 2151 Lockheed Way, Carson City, NV 89706 USA.</p>
    </div>
    <div class="flightshop-terms-section">
        <h5>Privacy Policy</h5>
        <p>The Flight Shop, Inc. is committed to protecting any personal information that you may provide to us.  In general, you can visit this Web site without telling us who you are or revealing any information about yourself. Our web server collects the domain names, not the e-mail addresses, of visitors. Our web server also seeks, (as many Web sites do), to place a "cookie" (a small data file) on your computer's hard drive which allows the server to determine the computer when it visits again, in order to track statistical information about navigation to and throughout certain areas of our site.  This cookie is not used to obtain your name or any personal data, and the information that is tracked is used only for internal purposes, such as to improve site navigation and to measure the effectiveness of our promotional placements, and is not shared with anyone.  If you prefer not to accept cookies, you can set your browser to reject them or to alert you before one is placed.</p>
        <p>In addition, there are portions of this Web site where The Flight Shop may need to collect personal information from you for a specific purpose, such as to send you a catalog or order/quote online. The information collected from you may include your name, company name, address, telephone, fax number, or e-mail address. </p>
        <p>We do not share, sell, or lease personal information about you to any third-parties for their marketing use. We will release information about you if you direct us to do so, if we are required by law to do so, or in other legally limited circumstances (for example, to protect your account from fraud). It is against The Flight Shops company policy to accept emails containing credit card information.</p>
    </div>
    <div class="flightshop-terms-section">
        <h5>Links to Other Sites</h5>
        <p>The Flight Shop’s Web site may contain links to other sites. While we try to link only to sites that share our high standards and respect for privacy, we are not responsible for the content, security, or privacy practices employed by other sites.</p>
    </div>
    <div class="flightshop-terms-section">
        <h5>Changes to this Policy</h5>
        <p>We reserve the right to modify or supplement this privacy policy without prior notice.</p>
    </div>
</div>
