@{
    ViewData["Title"] = "Window Shades";
}

<div class="flightshop-page-content">
    <h2>Window Shades</h2>
    <p>
        When you have us install for you the Plastech window shades and interior panels we can paint the shades and panels to match your interior for added styling. This complete package will take approximately 40-60 hours to install. For more information on Plastech Corporation you may visit them at&nbsp;
        <a href="http://www.plastechcorporation.com/" target="_blank">www.plastech.com</a>.
    </p>
    <div class="flightshop-info-page-centered-image">
        <img src="~/images/maintenance/window-shades-1.jpg"
             alt="window shades" />
    </div>
    <div class="flightshop-info-page-centered-image">
        <img src="~/images/maintenance/window-shades-2.jpg"
             alt="window shades" />
    </div>
</div>
