
@{
    ViewData["Title"] = "Cart - The Flight Shop";
}

<h2 id="flightshop-cart-title">Cart</h2>

<div id="flightshop-cart-container" style="display: none;">
    <div id="flightshop-cart-header">
        <span id="flightshop-delete-col-header">Remove</span>
        <span id="flightshop-qty-col-header">Quantity</span>
    </div>

    <div id="flightshop-cart-list">

    </div>
    <div id="flightshop-cart-footer">
        <a id="flightshop-checkout-btn" class="btn btn-success" asp-controller="Cart" asp-action="Checkout">Check Out</a>
    </div>
</div>
<div id="flightshop-empty-cart-msg" style="display: none;">
    Your cart is empty. <a asp-controller="Products" asp-action="Index">View available products</a>.
</div>

<style>
    #flightshop-cart-title {
        margin-top: 2em;
    }

    .cart-item {
        border-top: 1px solid #ddd;
        padding-top: 1.5em;
        margin-top: 1.5em;
        height: 125px;
    }

    .cart-item-img {
        float: left;
        margin-right: 2em;
    }

    .cart-item-info {

    }

    .cart-item-title {

    }

    .cart-item-desc {

    }

    .cart-item-qty-form {
        float: right;
    }

    .cart-item-qty-btn {
        height: 30px;
        width: 30px;
        font-size: 18px;
        position: relative;
        top: 1px;
        float: left;
    }

    .cart-item-qty-less {

    }

    .cart-item-qty {
        height: 30px;
        width: 50px;
        float: left;
        position: relative;
        top: 1px;
        font-size: 24px;
        text-align: center;
    }

    .cart-item-qty-more {

    }

    .cart-item-del-btn {
        float: right;
        margin-right: 2em;
        background: none;
        border: none;
        position: relative;
        top: -2px;
        left: 25px;
        width: 5em
    }

    .cart-item-del-btn-icon {
        width: 30px;
        height: 30px;
    }

    #flightshop-checkout-btn {
        font-size: 1em;
    }

    #flightshop-cart-footer {
        border-top: 1px solid #ddd;
        padding-top: 1em;
        margin-top: 1.5em;
    }

    #flightshop-cart-header {
        padding-bottom: 5px;
    }

    #flightshop-cart-header span {
        float: right;
        color: #555;
        font-size: 0.9em;
    }

    #flightshop-qty-col-header {
        width: 150px;
    }

    #flightshop-delete-col-header {
        width: 5em;
    }
</style>

<script>
    function getCart() {
        var cartText = window.sessionStorage.getItem('cartItems');
        return cartText ? JSON.parse(cartText) : [];
    }

    function setCart(cart) {
        window.sessionStorage.setItem('cartItems', JSON.stringify(cart));
    }

    function renderCart(cartItems) {
        var cartListElement = document.getElementById('flightshop-cart-list');
        while (cartListElement.firstChild) {
            cartListElement.removeChild(cartListElement.firstChild);
        }

        for (var i = 0; i < cartItems.length; i++) {
            var cartItemElement = getNewCartItemElement(cartItems[i]);
            cartListElement.appendChild(cartItemElement);
        }
    }

    function updateQuantity(partNumber, deltaQuantity) {
        var cartItems = getCart();
        var updated = false;
        for (var i = 0; i < cartItems.length && !updated; i++) {
            if (cartItems[i].PartNumber === partNumber) {
                cartItems[i].Quantity += deltaQuantity;
                updated = true;
            }
        }

        setCart(cartItems);
        var qtyField = document.getElementById('qty-' + partNumber);
        qtyField.value = parseInt(qtyField.value) + deltaQuantity;
    }

    function setQuantity(partNumber, quantity) {
        var cartItems = getCart();
        var updated = false;
        for (var i = 0; i < cartItems.length && !updated; i++) {
            if (cartItems[i].PartNumber === partNumber) {
                cartItems[i].Quantity = quantity;
                updated = true;
            }
        }

        setCart(cartItems);
        var qtyField = document.getElementById('qty-' + partNumber);
        qtyField.value = quantity;
    }

    function getNewCartItemElement(part) {
        var cartItem = document.createElement('div');
        cartItem.id = part.PartNumber;
        cartItem.classList.add('cart-item');

        var thumbnail = document.createElement('img');
        thumbnail.src = part.ImageSrc;
        thumbnail.classList.add('cart-item-img');
        cartItem.appendChild(thumbnail);

        var title = document.createElement('a');
        var titleText = part.PartNumber.slice(0, 20);
        if (part.PartNumber.length > 20) {
            titleText = titleText + '...';
        }
        title.innerHTML = titleText;
        title.href = '/Products/ProductDetail/' + part.ProductId;
        title.classList.add('cart-item-title');
        cartItem.appendChild(title);

        var deleteBtn = document.createElement('button');
        deleteBtn.classList.add('cart-item-del-btn');
        deleteBtn.onclick = function () {
            var cartItems = getCart();
            cartItems = cartItems.filter(function (item) { return item.PartNumber !== part.PartNumber });
            setCart(cartItems);
            renderPage(cartItems);
            renderCartButton();
        }
        cartItem.appendChild(deleteBtn);

        var delBtnIcon = document.createElement('img');
        delBtnIcon.src = '/images/icons/trash.png';
        delBtnIcon.classList.add('cart-item-del-btn-icon');
        deleteBtn.appendChild(delBtnIcon);

        var qtyForm = document.createElement('div');
        qtyForm.classList.add('cart-item-qty-form');
        cartItem.appendChild(qtyForm);

        var qtyLess = document.createElement('button');
        qtyLess.innerHTML = '-';
        qtyLess.classList.add('cart-item-qty-less', 'cart-item-qty-btn');
        qtyLess.onclick = function () {
            updateQuantity(part.PartNumber, -1);
            renderCartButton();
        }
        qtyForm.appendChild(qtyLess);

        var quantity = document.createElement('input');
        quantity.id = 'qty-' + part.PartNumber;
        quantity.value = part.Quantity;
        quantity.classList.add('cart-item-qty');
        qtyForm.appendChild(quantity);
        quantity.addEventListener('change', function () {
            var updatedQty = parseInt(document.getElementById('qty-' + part.PartNumber).value) || 0;
            setQuantity(part.PartNumber, updatedQty);
            renderCartButton();
        });

        var qtyMore = document.createElement('button');
        qtyMore.innerHTML = '+';
        qtyMore.classList.add('cart-item-qty-more', 'cart-item-qty-btn');
        qtyMore.onclick = function () {
            updateQuantity(part.PartNumber, 1);
            renderCartButton();
        }
        qtyForm.appendChild(qtyMore);

        return cartItem;
    }

    function renderPage(cartItems) {
        var cart = document.getElementById('flightshop-cart-container');
        var emptyCartMessage = document.getElementById('flightshop-empty-cart-msg');
        if (cartItems && cartItems.length) {
            cart.style.display = 'block';
            emptyCartMessage.style.display = 'none';
            renderCart(cartItems);
        }
        else {
            cart.style.display = 'none';
            emptyCartMessage.style.display = 'block';
        }
    }

    window.addEventListener('load', function () {
        var cartItems = getCart();
        renderPage(cartItems);
    })
</script>

