
@{
    ViewData["Title"] = "Cart - The Flight Shop";
}

    <div style="width: 110%; position: relative; left: -5%;">
        <h1 id="flightshop-cart-title">Cart</h1>
        <div id="flightshop-cart-container" style="display: none;">
            <div class="col-md-3">
                <div id="flightshop-cart-summary">
                    <h2 id="flightshop-cart-total-label" style="color: #484848; margin-bottom: 0;"></h2>
                    <a id="flightshop-checkout-btn" class="btn btn-success" style="display: none;" asp-controller="Cart" asp-action="Checkout">Check Out</a>
                    <p id="flightshop-cart-quote-warning" style="display: none;"><strong>Note:&nbsp;</strong>You have 1 or more items in your cart with price listed as "quote". Subtotal excludes any items with price listed as "quote" because prices aren't currently available online for these items, and we will contact you to discuss current prices and availability unless you have made other arrangements with us.</p>
                </div>
            </div>
            <div class="col-md-9">
                <div id="flightshop-cart-header" class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-4">Item</div>
                    <div class="col-xs-3">Quantity</div>
                    <div class="col-xs-2">Subtotal</div>
                    <div class="col-xs-1">Remove</div>
                </div>

                <div id="flightshop-cart-list">

                </div>
                <div id="flightshop-subtotal-footer" class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-4"></div>
                    <div class="col-xs-3"><strong style="float: right;">Subtotal:</strong></div>
                    <div class="col-xs-2"><strong id="flightshop-footer-subtotal-amount"></strong></div>
                    <div class="col-xs-1"></div>
                </div>
            </div>
        </div>
        <div id="flightshop-empty-cart-msg" style="display: none;">
            Your cart is empty. <a asp-controller="Products" asp-action="Index">View available products</a>.
        </div>

    </div>

<style>
    #flightshop-subtotal-footer {
        padding-top: 1em;
        border-top: 1px solid #ddd;
    }

    #flightshop-cart-summary {
        background-color: #dedede;
        border: 1px solid #bfbfbf;
        margin: 1em 0;
        padding-left: 1em;
    }

    #cart-title-divider {
        display: inline-block;
        width: 55%;
        margin: 0 1em;
        position: relative;
        top: -10px;
    }

    #flightshop-cart-title {
        margin-top: 1.25em;
        margin-left: 0.25em;
    }

    .cart-item {
        border-top: 1px solid #ddd;
        padding-top: 1.5em;
        margin-top: 1.5em;
        margin-bottom: 2em;
        height: 7em;
        min-height: 125px;
    }

    .cart-item-img-wrapper {
        float: left;
        width: 7.5em;
        height: 100%;
    }

    .cart-item-img {
        width: 75%;
        max-height: 100%;
    }

    .cart-item-title {
    }

    .cart-item-desc {
        color: #555;
        margin-top: 0.25em;
        width: 100%;
    }

    .cart-item-qty-form {
    }

    .cart-item-qty-btn {
        height: 30px;
        width: 30px;
        font-size: 18px;
        position: relative;
        top: 1px;
        float: left;
    }

    .cart-item-qty-less {
    }

    .cart-item-qty {
        height: 30px;
        width: 50px;
        float: left;
        position: relative;
        top: 1px;
        font-size: 24px;
        text-align: center;
    }

    .cart-item-qty-more {
    }

    .cart-item-del-btn {
        background: none;
        border: none;
        display: block;
        margin: 0 auto;
    }

    .cart-item-del-btn-icon {
        width: 30px;
        height: 30px;
    }

    #flightshop-checkout-btn {
        font-size: 1em;
        margin: 1em 0 0.5em 0;
    }

    #flightshop-cart-header {
        padding-bottom: 5px;
    }

        #flightshop-cart-header span {
            color: #555;
            font-size: 0.9em;
        }

    .cart-item-custom-pt-label {
        width: 200px;
        display: inline-block;
        float: left;
    }

    .flightshop-cart-no-img-container::before {
        background-image: url(/images/index/click-bond.jpg);
        background-size: contain;
        opacity: 0.2;
        position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      content: "";
    }
    .flightshop-cart-no-img-text {
        color: #222;
        font-size: 1.1em;
        font-style: italic;
    }
</style>

<script>
    function setCart(cart) {
        window.sessionStorage.setItem('cartItems', JSON.stringify(cart));
    }

    function renderCart(cartItems) {
        var cartListElement = document.getElementById('flightshop-cart-list');
        while (cartListElement.firstChild) {
            cartListElement.removeChild(cartListElement.firstChild);
        }

        for (var i = 0; i < cartItems.length; i++) {
            var cartItemElement = getNewCartItemElement(cartItems[i]);
            cartListElement.appendChild(cartItemElement);
        }
        document.getElementById('flightshop-cart-container').style.display = 'block';
    }

    function checkQtyLessDisabled(part) {
        if (part.Quantity <= 1) {
            document.getElementById('qty-less-' + part.PartNumber).setAttribute('disabled', true);
        } else {
            document.getElementById('qty-less-' + part.PartNumber).removeAttribute('disabled');
        }
    }

    function checkCartQtyLessDisabled(cart) {
        for (var i = 0; i < cart.length; i++) {
            checkQtyLessDisabled(cart[i]);
        }
    }

    function updateQuantity(partNumber, deltaQuantity) {
        var cartItems = getCart();
        var hasTotal = false;
        var hasQuote = false;
        var total = 0;
        for (var i = 0; i < cartItems.length; i++) {
            var part = cartItems[i];
            var subTotal = 0;
            if (part.PartNumber === partNumber) {
                part.Quantity += deltaQuantity;
                checkQtyLessDisabled(part);
            }
            if (part.Price) {
                subTotal = part.Quantity * (parseFloat(part.Price) || 0);
                total += subTotal;
                hasTotal = true;
            } else {
                hasQuote = true;
            }
            if (part.PartNumber === partNumber && part.Price) {
                var subTotalField = document.getElementById('flightshop-cart-subtotal-' + part.PartNumber);
                subTotalField.innerHTML = part.Price ? '$' + subTotal.toFixed(2) : '(quote)';
            }
        }

        var totalText = hasTotal ? 'Subtotal: $' + total.toFixed(2) : 'Subtotal: (quote)';
        document.getElementById('flightshop-cart-total-label').innerHTML = totalText;
        document.getElementById('flightshop-footer-subtotal-amount').innerHTML = '$' + total.toFixed(2);
        document.getElementById('flightshop-cart-quote-warning').style.display = hasQuote ? 'block' : 'none';

        setCart(cartItems);
        if (partNumber) {
            var qtyField = document.getElementById('qty-' + partNumber);
            qtyField.value = parseInt(qtyField.value) + deltaQuantity;
        }
    }

    function setQuantity(partNumber, quantity) {
        var cartItems = getCart();
        var updated = false;
        for (var i = 0; i < cartItems.length && !updated; i++) {
            if (cartItems[i].PartNumber === partNumber) {
                var deltaQty = quantity - cartItems[i].Quantity;
                updateQuantity(partNumber, deltaQty);
                cartItems[i].Quantity = quantity;
                updated = true;
            }
        }

        setCart(cartItems);
        var qtyField = document.getElementById('qty-' + partNumber);
        qtyField.value = quantity;
    }

    var howManyCartItems = 0;
    function getNewCartItemElement(part) {
        howManyCartItems++;
        var cartItem = document.createElement('div');
        cartItem.id = part.PartNumber;
        cartItem.classList.add('cart-item');

        var thumbnailWrapperContainer = document.createElement('div');
        thumbnailWrapperContainer.classList.add('col-xs-2');
        cartItem.appendChild(thumbnailWrapperContainer);

        var thumbnailWrapper = document.createElement('div');
        thumbnailWrapper.classList.add('cart-item-img-wrapper');
        thumbnailWrapperContainer.appendChild(thumbnailWrapper);

        if (part.ImageSrc && part.ImageSrc.indexOf('.') >= 0) {
            var thumbnail = document.createElement('img');
            thumbnail.src = part.ImageSrc;
            thumbnail.classList.add('cart-item-img');
            thumbnailWrapper.appendChild(thumbnail);
        }
        else {
            var noImgTag = document.createElement('div');
            noImgTag.classList.add('flightshop-cart-no-img-container');
            noImgTag.style.minHeight = '';
            noImgTag.style.height = '100%';
            noImgTag.style.marginRight = '0.75em';
            noImgTag.style.paddingTop = '0';
            
            var noImgText = document.createElement('span');
            noImgText.classList.add('flightshop-cart-no-img-text');
            noImgText.innerHTML = 'No image available';
            noImgTag.appendChild(noImgText);

            thumbnailWrapper.appendChild(noImgTag);
        }

        var titleContainer = document.createElement('div');
        titleContainer.classList.add('col-xs-4');
        cartItem.appendChild(titleContainer);

        var title = document.createElement('a');
        var titleText = part.PartNumber.slice(0, 20);
        if (part.PartNumber.length > 20) {
            titleText = titleText + '...';
        }
        title.innerHTML = titleText;
        title.href = '/Products/ProductDetail/' + part.ProductId;
        title.classList.add('cart-item-title');
        titleContainer.appendChild(title);

        var desc = document.createElement('p');
        var descText = part.Description.slice(0, 30);
        if (part.Description.length > 30) {
            descText = descText + '...';
        }
        desc.innerHTML = descText || '';
        desc.classList.add('cart-item-desc');
        titleContainer.appendChild(desc);

        if (part.IsUserDefined) {
            var customPartLabel = document.createElement('p');
            customPartLabel.innerHTML = '<strong>** Special Part</strong>';
            customPartLabel.classList.add('cart-item-custom-pt-label');
            titleContainer.appendChild(customPartLabel);
        } else if (part.Price) {
            var priceCol = document.createElement('div');
            var priceText = '$' + part.Price.toFixed(2);
            priceCol.innerHTML = priceText;
            titleContainer.appendChild(priceCol);
        }

        var qtyForm = document.createElement('div');
        qtyForm.classList.add('col-xs-3');
        qtyForm.classList.add('cart-item-qty-form');
        cartItem.appendChild(qtyForm);

        var qtyLess = document.createElement('button');
        qtyLess.id = 'qty-less-' + part.PartNumber;
        qtyLess.innerHTML = '-';
        qtyLess.classList.add('cart-item-qty-less', 'cart-item-qty-btn');
        qtyLess.onclick = function () {
            updateQuantity(part.PartNumber, -1);
            renderCartButton();
        };
        qtyForm.appendChild(qtyLess);

        var quantity = document.createElement('input');
        quantity.id = 'qty-' + part.PartNumber;
        quantity.value = part.Quantity;
        quantity.classList.add('cart-item-qty');
        qtyForm.appendChild(quantity);
        quantity.addEventListener('change', function () {
            var updatedQty = parseInt(document.getElementById('qty-' + part.PartNumber).value) || 0;
            setQuantity(part.PartNumber, updatedQty);
            renderCartButton();
        });

        var qtyMore = document.createElement('button');
        qtyMore.innerHTML = '+';
        qtyMore.classList.add('cart-item-qty-more', 'cart-item-qty-btn');
        qtyMore.onclick = function () {
            updateQuantity(part.PartNumber, 1);
            renderCartButton();
        };
        qtyForm.appendChild(qtyMore);

        var subTotal = document.createElement('div');
        subTotal.id = 'flightshop-cart-subtotal-' + part.PartNumber;
        subTotal.classList.add('col-xs-2');
        var subTotalAmount = (parseFloat(part.Price) || 0) * (parseFloat(part.Quantity) || 0);
        subTotal.innerHTML = subTotalAmount ? '$' + subTotalAmount.toFixed(2) : '(quote)';
        cartItem.appendChild(subTotal);

        var deleteBtnContainer = document.createElement('div');
        deleteBtnContainer.classList.add('col-xs-1');
        cartItem.appendChild(deleteBtnContainer);

        var deleteBtn = document.createElement('button');
        deleteBtn.classList.add('cart-item-del-btn');
        deleteBtn.onclick = function () {
            var cartItems = getCart();
            cartItems = cartItems.filter(function (item) { return item.PartNumber !== part.PartNumber });
            setCart(cartItems);
            renderPage(cartItems);
            renderCartButton();
        }
        deleteBtnContainer.appendChild(deleteBtn);

        var delBtnIcon = document.createElement('img');
        delBtnIcon.src = '/images/icons/trash.png';
        delBtnIcon.classList.add('cart-item-del-btn-icon');
        deleteBtn.appendChild(delBtnIcon);

        return cartItem;
    }

    function renderPage(cartItems) {
        var cart = document.getElementById('flightshop-cart-container');
        var emptyCartMessage = document.getElementById('flightshop-empty-cart-msg');
        var checkoutBtn = document.getElementById('flightshop-checkout-btn');
        if (cartItems && cartItems.length) {
            cart.style.display = 'block';
            emptyCartMessage.style.display = 'none';
            checkoutBtn.style.display = 'inline-block';
            renderCart(cartItems);
            updateQuantity();
        }
        else {
            cart.style.display = 'none';
            checkoutBtn.style.display = 'none';
            emptyCartMessage.style.display = 'block';
        }
    }

    window.addEventListener('load', function () {
        var cartItems = getCart();
        renderPage(cartItems);
        checkCartQtyLessDisabled(cartItems);
    })
</script>

