.flightshop-product-category-link {
    text-align: center;
}

.flightshop-category-image {
    width: 150px;
    height: 100px;
}

.flightshop-product-category-margin {
    margin-top: 2em;
}