.flightshop-product-detail-table-cell {
    padding: 0.5em 1em;
}

.flightshop-alternating-row {
    background-color: #e8e8e8;
}

#flightshop-product-long-description {
    margin-top: 1em;
}