#flightshop-product-detail-image {
    /* NOTE: expand image if using new ClickBond images, since they scale better
    width: 100%;
    height: auto;*/
    min-width: 150px;
    display: block;
    margin: 0 auto;
}

#flightshop-product-detail-title {
    margin-top: 0;
}

#flightshop-product-detail-subtitle {
    font-size: 1.25em;
    color: #777;
}

#flightshop-product-detail-description {
    font-size: 1.1em;
    color: #333;
}

#flightshop-product-detail-external-links {
    margin-top: 0.5em;
}

.flightshop-product-detail-download-link {
    float: right;
}

.flightshop-product-detail-links-separator {
    margin: 0.5em 0;
}

/* NOTE: this is for use with old-school FLight Shop images. 
    new images from Clickbond website scale better and should fill the available space.
    thus, download text and links look better floating left/right
*/
#flightshop-product-detail-OG-download-section {
    text-align: center;
}

#flightshop-installation-examples {
    position: relative;
    top: 1em;
    margin-bottom: 1em;
}

#flightshop-installation-examples-header {
    clear: both;
    padding: 0.5em 1em;
    border: 1px solid #ddd;
    margin-top: 1em;
}

#flightshop-installation-examples-title {
    font-size: 1.25em;
    font-weight: bold;
}

#flightshop-installation-examples-header-close-button {
    border: none;
    float: right;
    padding: 0;
}
    #flightshop-installation-examples-header-close-button > span {
        font-size: 1.5em;
        font-weight: bold;
        position: relative;
        top: -4px;
    }

#flightshop-installation-examples-image-container {
    text-align: center;
    border: 1px solid #ddd;
    border-top: none;
    padding: 1em;
}

.flightshop-installation-example-image {
    max-height: 200px;
    margin-right: 0.75em;
}

#flightshop-product-detail-parts-section {
    clear: both;
    position: relative;
    top: 1.5em;
}

.flightshop-parts-table-column-short {
    width: 20%;
}

.flightshop-parts-table-column-long {
    width: 40%;
}

.flightshop-parts-table-cell {
    border: 2px solid #ddd;
    padding: 0.25em;
}

.flightshop-part-add-to-cart-input {
    width: 50%;
}

#flightshop-button-add-special-part {
    margin-top: 0.5em;
    color: #555 !important;
}

#flightshop-parts-table {
    width: 100%;
}