#flightshop-subcategory-products-table {
    width: 100%;
}
    #flightshop-subcategory-products-table th {
        text-align: center;
    }
    #flightshop-subcategory-products-table td {
        text-align: center;
    }

.flightshop-subcategory-table-header-short {
    width: 20%;
}

.flightshop-subcategory-table-header-long {
    width: 40%;
}

.flightshop-subcategory-table-product-image {
    text-align: center;
    padding: 0.5em 0;
}

.flightshop-subcategory-table-product-code {
    padding-left: 1em;
}

#flightshop-most-popular-descriptor {
    font-size: 1.25em;
    margin-top: 0.5em;
}
.flightshop-subcategory-table-asterisk {
    font-size: 1.25em;
    font-weight: bold;
}